#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 800px;
}


section
{
  margin-block: 50px;
}

/*S1: Header*/

.logo
{
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
}

.logo h1, .logo p, .logo h6
{
  margin: 0;
}

.logo h1
{
  font-size: 4em;
}
.logo h6
{
  font-size: 0.8em;
}
.logo p
{
  font-size: 0.7em;
}

/*S2: User Ingredients*/

.input-panel
{
  width: 60%;
  margin: auto;
  /*border: solid 2px red;*/
  display: flex;

}

.user-ingredients-form
{
  position: relative;
}

.user-input
{
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #f9f9f9;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    flex: 12;
}

button.plus{
  width: 50px;
  border-radius: 0px 8px 8px 0px;

}

/*IngredientsList*/

@keyframes fade-out{
  0% {opacity: 1}
  100% {opacity: 0}
}

.ingredients-list{
  margin: 30px auto;
  width: 45%;
  height: 60%;
  border-radius: 8px;
  border: solid 1px #f9f9f9;
  border-bottom: none;
  transition: 0.3s;
  list-style-type: none;
  padding: 0;
  

}



.ingredients-placeholder, .ingredients-list-item
{
  text-align: start;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px;
}

.ingredients-list-item
{
  
  border-bottom: 1px solid #f9f9f9;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  
}
.ingredients-list-item:hover
{
  cursor: pointer;
  color: black;
  background-color: #f9f9f9;
}
.ingredients-list-item:hover img.cancel
{
  opacity: 0.6;
}

img.cancel
{
  float: right;
  width: 10px;
  opacity: 0;
  transition: 0.3s;
}


.get-recipes-btn
{
  position: absolute;
  transform: translateX(-50%);
  bottom: 5%;
  background-color:rgb(225, 251, 225)
}

