#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 800px;
}


section
{
  margin-block: 50px;
}

/*S1: Header*/

.logo
{
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
}

.logo h1, .logo p, .logo h6
{
  margin: 0;
}

.logo h1
{
  font-size: 4em;
}
.logo h6
{
  font-size: 0.8em;
}
.logo p
{
  font-size: 0.7em;
}

/*S2: User Ingredients*/

.input-panel
{
  width: 60%;
  margin: auto;
  /*border: solid 2px red;*/
  display: flex;

}

.user-ingredients-form
{
  position: relative;
}

.user-input
{
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #e2e2e2;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    flex: 12;
}

button.plus{
  width: 50px;
  border-radius: 0px 8px 8px 0px;
  border: solid 1px #e2e2e2;
  border-left: 0;

}

/*IngredientsList*/

@keyframes fade-out{
  0% {opacity: 1}
  100% {opacity: 0}
}

.ingredients-list{
  margin: 30px auto;
  width: 40%;
  height: 60%;
  border-radius: 8px;
  border: solid 1px #e2e2e2;
  transition: 0.3s;
  list-style-type: none;
  padding: 7px 15px 4px 15px;
  overflow: hidden;

  

}

.ingredients-placeholder, .ingredients-list-item
{
  text-align: start;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px;

}

.ingredients-list-title
{
  text-align: start;
  text-transform: capitalize;
  text-decoration: none;
  padding: 6px 10px 6px 10px;
  display: flex;
  justify-content: space-between;
  transition: color 0.3s;
  border-bottom: 1px solid #c9c9c9;
  font-weight: 500;
}
.ingredients-placeholder
{
  border-bottom: none;
}

.ingredients-list-item
{
  
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.3s;
  
}
.ingredients-list-item:last-of-type
{
  border-bottom: none;
}
.ingredients-list-item:hover
{
  cursor: pointer;
  opacity: 0.6;
}
.ingredients-list-item:hover img.cancel
{
  opacity: 0.6;
}

img.cancel
{
  float: right;
  width: 10px;
  opacity: 0;
  transition: 0.3s;
}


.get-recipes-btn
{
  position: absolute;
  transform: translateX(-50%);
  bottom: 5%;
  background-color:rgb(225, 251, 225)
}


input::placeholder, .ingredients-placeholder
{
  opacity: 0.5;
  font-weight: 300;
}

p.notification
{
  margin: 0;
  height: 20px;
  font-size: 0.9em;
  color:crimson;
  padding-top: 8px;

}