#root {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  position: relative;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  padding: 0;
}


section
{
  max-width: 100vw;
  margin-block: 50px;
}

/*S1: Header*/

header
{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 15px;
  align-items: end;
}

header h1
{
  font-size: 2em;
  text-align: left;
  line-height: 27px;
}
header h1 span{
  display: block
}
header h6
{
  font-size: 0.8em;
}
header p
{
  font-weight: 500;
  text-align: right;
  font-size: 0.8em;
  width: 25%;
  max-width: 80px;
  margin-bottom: -5px;
}

h2.tagline{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  line-height: 35px;
  padding-inline: 15px;
}

/*S2: User Ingredients*/


.ingredients-form
{
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 94%;
}

.input-field
{
    border-radius: 18px 0px 0px 18px;
    border: 1px solid #e2e2e2;
    padding: 0.6em 1.2em;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    min-width:45%;
    width: 500px;
}

button.plus{
  min-width: 50px;
  border-radius: 0px 18px 18px 0px;
  border: solid 1px #e2e2e2;
  border-left: 0;

}

/*IngredientsList*/

@keyframes fade-out{
  0% {opacity: 1}
  100% {opacity: 0}
}

.ingredients-list{
  
  border-radius: 8px;
  border: solid 1px #e2e2e2;
  transition: 0.3s;
  list-style-type: none;
  padding: 7px 15px 0px 15px;
  box-sizing: border-box;
  width: 90%;
  max-width: 635px;
  margin: auto;
  margin-top: 40px;
}

.ingredients-placeholder, .ingredients-list-item
{
  text-align: start;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px;

}

.ingredients-list-title
{
  font-size: 1.5em;
  text-align: start;
  text-transform: capitalize;
  text-decoration: none;
  padding: 6px 10px 6px 10px;
  display: flex;
  justify-content: space-between;
  transition: color 0.3s;
  border-bottom: 1px solid #c9c9c9;
  font-weight: 500;
}

.ingredients-list-item
{
  font-size: 1.4em;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.3s;
  
}
.ingredients-list-item:last-of-type
{
  border-bottom: none;
}
.ingredients-list-item:hover
{
  cursor: pointer;
  opacity: 0.6;
}
.ingredients-list-item:hover img.cancel
{
  opacity: 0.6;
}

img.cancel
{
  float: right;
  width: 14px;
  opacity: 0;
  transition: 0.3s;
}

.get-recipes-container{
  width: 100%;
  max-width: 635px;
  margin: auto;
  position: relative;
}



button.get-recipes{
  font-size: 1.5em;
  border-radius: 32px;
  padding: 5px 10px 7px 10px;
  background-color: #1987ff;
  color: white;
  font-weight: 400;
  float: right;
  margin-top: -30px;
}

button.get-recipes:disabled, button.get-recipes[disabled]{
  background-color: #e2e2e2;
  color: black;
  opacity: 0.3;
  cursor:default;


}
button.get-recipes:disabled:hover, button.get-recipes[disabled]:hover{
  border: solid 1px #e2e2e2;
}

.right-arrow{
  padding-left: 5px;
  width: 20px
}

input::placeholder, .ingredients-placeholder
{
  opacity: 0.5;
  font-weight: 300;
}

p.notification
{
  margin: 0;
  height: 20px;
  font-size: 0.9em;
  color:crimson;
  padding-top: 8px;
  font-weight: 500;

}


/* RECIPE CARD */


.recipes-section{
  
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-top: 50px;

}

.recipe-card-container{
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}



.recipe-card{
  width: 80%;
  border-radius: 8px;
  border: solid 1px #c9c9c9;
}

@media (max-width: 710px)
{
  .recipe-card-container{
    width: 100%
  }

    .recipe-card{
      width: 250px
    }
}

.recipe-card-image
{
  height: 130px;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;


}

.recipe-card-info
{
  display: flex;
  flex-direction: column;
  text-align: left;

  position: relative;
  padding: 10px;
  justify-content: space-between;
  height: calc(100% - 150px);
}
  

.recipe-card-tags
{
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  gap: 8px;
}

.recipe-card-course, .recipe-card-cuisine{
  background: #919191;
  color: white;
  padding: 0px 8px 2px 8px;
  border-radius: 10px;
  font-size: 0.8em;
}

.recipe-card-title{
  margin-top: 36px;
  text-transform: uppercase;
  font-size: 1.9em;
  line-height: 1em;
  margin-bottom: 10px;
}

.recipe-card-ingredients-counter{
  display: flex;
  margin-right: 50px;
}

.recipe-card-expand-button
{
  position: absolute;
  text-decoration: underline;
  font-weight:bold;
  right: 10px;
  bottom: 10px;
}
.recipe-card-expand-button:hover{
  cursor: pointer;
}


.scroll-btn
{
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 100;

  width: 70px;
  height: 70px;
  padding: 0;
  border-radius: 50%;
  background-color: #1987ff;

  transition: 0.3s;
}
img.up-arrow
{
  width: 20px;
  margin: auto;
}
.scroll-btn-container{
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); 
  width: 100%;
  max-width: 850px;
  margin: auto;
}